[Unit]
Description=Server to manage GStreamer pipelines
Wants=mediamtx.service
After=mediamtx.service

[Service]
ExecStart=python3 -u -m camera_server

[Install]
WantedBy=multi-user.target
